@import "../../styles/variables";

// 1. Сброс
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// 2. Контейнер
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

// 3. HTML & Body
.root {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh; // минимум под экран
  background: url("../../assets/lastbg1.webp");
  background-position: center top; // позиционируем фон с верхнего центра
  background-repeat: no-repeat;
  background-size: cover; // покрываем всю ширину, высота масштабируется пропорц.
}

// 4. Фоновая секция

// 5. Флекс-контент
.content {
  padding-top: 10px;
  padding-bottom: 50px;
  max-width: 750px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.calendar {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 750px;
  width: 100%;
  gap: 3.5rem;
  background: white;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 8px $shadow;
  .calendarIcon {
    color: black;
    font-size: 2.7rem;
  }
  .calendarText {
    font-size: 17px;
    font-weight: 600;
    color: $text-dark;
  }
}

.calendar__left_box {
  display: flex;
  gap: 10px;
  align-items: center;
}

.calendar__left_text_box {
  display: flex;
  flex-direction: column;
}
.calendar__right_text_box {
  display: flex;
  flex-direction: column;
}

.title_box {
  margin-top: 3.5rem;
}

.subtitles {
  font-size: 70px;
  font-weight: 600;

  color: black;
  strong {
    color: $primary;
  }
}
.subtitle {
  margin-top: 10px;

  font-size: 30px;
  font-weight: 400;
  color: $text-dark;
  strong {
    color: $primary;
  }
}

// 6. Левая колонка
.left {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1.5rem;
}

// 7. Топ-инфо
.title__mobile_box {
  display: none;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  color: black;
}

// 8. Заголовки и тексты
.title {
  display: block;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.3;
  color: black;
  text-transform: uppercase;
}
.lead {
  font-size: 25px;
  color: $text-dark;
  max-width: 600px;

  strong {
    color: $primary;
  }
}
.desc {
  font-weight: 600;
  font-size: 26px;
  color: $text-dark;
}

// 9. Список
.list {
  list-style: none;
  padding: 0;
  font-size: 25px;
  li {
    position: relative;
    padding-left: 1.75rem;
    margin-bottom: 0.75rem;
    color: $text-dark;
    &::before {
      content: "✓";
      position: absolute;
      left: 0;
      color: #ff0000;
    }
  }
}

// 10. Кнопка
.btn {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;

  margin: 0 auto 1.5rem;
  padding: 2rem 2rem;
  font-size: 2.225rem;
  font-weight: 600;
  text-align: center;
  color: rgb(0, 0, 0);
  background: #ff0000;
  background: linear-gradient(
    90deg,
    rgb(255, 0, 0) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgb(255, 0, 0) 100%
  );
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 12px $shadow;
  transition: transform 0.2s;
  &:hover {
    transform: translateY(-2px);
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent
    );
    transform: skewX(-20deg);
    transition: left 0.7s;
  }
  &:hover::after {
    left: 150%;
  }
}

.btn_mobile {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;

  margin: 0 auto 1.5rem;
  padding: 2rem 2rem;
  font-size: 3.225rem;
  font-weight: 600;
  text-align: center;
  color: rgb(0, 0, 0);
   background: #ff0000;
  background: linear-gradient(
    90deg,
    rgb(255, 0, 0) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgb(255, 0, 0) 100%
  );
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 12px $shadow;
  transition: transform 0.2s;
  &:hover {
    transform: translateY(-2px);
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent
    );
    transform: skewX(-20deg);
    transition: left 0.7s;
  }
  &:hover::after {
    left: 150%;
  }
}

// 11. Таймер
.timerCard {
  background: white;
  box-shadow: 0 2px 8px $shadow;
  border-radius: 12px;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  .timerText {
    font-size: 2.1rem;
    color: $text-dark;
  }
  .timer {
    display: flex;
    gap: 1.5rem;
    .timeBlock {
      text-align: center;
      .timeValue {
        font-size: 1.5rem;
        font-weight: 700;
        color: black;
      }
      .timeLabel {
        font-size: 0.95rem;
        color: $text-dark;
      }
    }
  }
}

.timerCard_btn {
  background: white;
  box-shadow: 0 2px 8px $shadow;
  border-radius: 12px;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  .timerText {
    font-size: 1.1rem;
    color: $text-dark;
  }
  .timer {
    display: flex;
    gap: 1.5rem;
    .timeBlock {
      text-align: center;
      .timeValue {
        font-size: 1.5rem;
        font-weight: 700;
        color: black;
      }
      .timeLabel {
        font-size: 0.95rem;
        color: $text-dark;
      }
    }
  }
}

// 12. Визитка
.nameTag {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  background: $card-bg;
  padding: 1rem 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 12px $shadow;
  text-align: center;
  .name {
    font-size: 1.25rem;
    color: $text-dark;
    strong {
      color: $primary;
    }
  }
  .prof {
    font-size: 0.875rem;
    color: $text-dark;
  }
}

.mobile__img {
  display: none;
}

/* модальное затемнение */
.modal__backdrop {
  position: fixed;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); // для Safari

  /* чуть больше приоритета, чтобы быть над всем */
  z-index: 1000;
  inset: 0;
  background: rgba(17, 14, 14, 0.224);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* само окно */
.modal__window {
  background: white;
  border-radius: 8px;
  padding: 2rem;
  width: 90%;
  max-width: 400px;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* кнопка закрыть */
.modal__close {
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

/* заголовок */
.modal__title {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  text-align: center;
}

/* форма */
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  label {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    color: #333;

    input {
      margin-top: 0.25rem;
      padding: 0.5rem 0.75rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1rem;
    }
  }

  .modal__submit {
    margin-top: 0.5rem;
    padding: 0.75rem;
     background: #ff0000;
  background: linear-gradient(
    90deg,
    rgb(255, 0, 0) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgb(255, 0, 0) 100%
  );
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
}

.telegram-root {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: start;

  color: $text-dark;
}

/* Подзаголовок */
.telegram-subheading {
  font-size: 1.125rem;
  color: $text-dark;
  text-align: center;
  margin-bottom: 1.5rem;
}

/* Стрелки */
.telegram-arrows {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 2rem;

  .telegram-arrow {
    font-size: 2rem;
    color: $primary;
    animation: bounce 0.8s infinite alternate;
  }
}

@keyframes bounce {
  to {
    transform: translateY(8px);
  }
}

/* Кнопка Obuna bo'lish */

.calendar_box {
  max-width: 600px;
  width: 100%;
  margin-top: 100px;
}

.telegram_box {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.telegram-heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: $primary;
  margin-bottom: 100px;
  text-align: center;
}
.telegram-heading_war {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: $text-dark;
  margin-bottom: 30px;
  text-align: center;
}

.telegram-subheading {
  font-size: 1.125rem;
  margin-bottom: 2rem;
  max-width: 600px;
  color: $text-dark;
}

.telegram-arrows {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.telegram-arrow {
  font-size: 2rem;
  color: $primary;
  animation: bounce 0.8s infinite alternate;
}

@keyframes bounce {
  to {
    transform: translateY(8px);
  }
}

.telegram-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 2rem 2rem;
  font-size: 2.25rem;
  font-weight: 600;
  color: #000000;
  background: #ff0000;
  background: linear-gradient(
    90deg,
    rgb(255, 0, 0) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgb(255, 0, 0) 100%
  );
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 12px $shadow;
  text-decoration: none;
  transition: transform 0.2s;
}

.telegram-btn:hover {
  transform: translateY(-2px);
}

.telegram-icon {
  font-size: 2.5rem;
}

.modal__error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.timerText {
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
}

@media (max-width: 1100px) {
  .root {
    min-height: 100vh; // минимум под экран
    background-image: url("../../assets/defbg.webp");
    background-position: center top; // позиционируем фон с верхнего центра
    background-size: cover; // покрываем всю ширину, высота масштабируется пропорц.
  }

  .title__mobile_box {
    display: block;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .title__mobile_title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: black;
    text-align: center;
    text-transform: uppercase;
  }
  .title__mobile_text {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.3;
    color: black;
    text-align: center;
  }

  .title {
    display: none;
  }

  .content {
    align-items: center;
    width: 100%;
    gap: 2rem;
  }

  .subtitles {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color: black;
    strong {
      color: $primary;
    }
  }
  .subtitle {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 25px;
    font-weight: 400;
    color: $text-dark;
    strong {
      color: $primary;
    }
  }

  .timerText {
    font-size: 20px;
    text-align: center;
  }

  .btn_mobile {
    transform: translateY(-10%);
  }

  .content {
    max-width: 1100px;
    width: 100%;
    gap: 10px;
  }

  .calendar_box {
    max-width: 1100px;
    width: 100%;
    margin-top: 100px;
  }

  .calendar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    gap: 30px;
  }

  .subtitle {
    text-align: center;
  }

  .title {
    text-align: center;
  }

  .desc {
    text-align: center;
  }

  .list {
    text-align: center;
  }

  .timerCard_btn {
    flex-direction: column-reverse;
  }

  .left {
    width: 100%;

    align-items: center;
  }

  .mobile__img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .avatar {
    width: 100%;
  }

  .timerCard {
    display: none;
  }

  .btn {
    padding: 2rem 2rem;
  }

  .telegram_box {
    max-width: 1100px;
    width: 100%;
  }

  .telegram-subheading {
    text-align: center;
  }
  .calendar__left_box {
    gap: 10px;
    align-items: center;
  }
}

@media (max-width: 550px) {
  .subtitles {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: black;
    strong {
      color: $primary;
    }
  }
  .subtitle {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 400;
    color: $text-dark;
    strong {
      color: $primary;
    }
  }

  .btn_mobile {
    font-size: 30px;
  }

  .title {
    font-size: 20px;
  }

  .lead {
    font-size: 18px;
    text-align: center;
  }

  .desc {
    font-size: 20px;
    font-weight: 600;
  }

  .list {
    font-size: 20px;
  }

  .btn {
    font-size: 30px;
  }

  .telegram-heading {
    font-size: 30px;
    text-align: center;
  }

  .telegram-subheading {
    text-align: center;
  }

  .calendar {
    width: 100%;
    display: inline-flex;
    align-items: center;
    gap: 1.5rem;
    background: white;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 8px $shadow;
    .calendarIcon {
      color: $primary;
      font-size: 1.7rem;
    }
    .calendarText {
      font-size: 15px;
      font-weight: 600;
      color: $text-dark;
    }
  }

  .calendar__left_box {
    gap: 10px;
    align-items: center;
  }

  .timerText {
    text-align: center;
  }

  .timeValue {
    font-size: 30px;
  }

  .title__mobile_title {
    font-size: 20px;
    
  }
  .title__mobile_text {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .subtitles {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: black;
    strong {
      color: $primary;
    }
  }
  .subtitle {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 400;
    color: $text-dark;
    strong {
      color: $primary;
    }
  }

  .btn_mobile {
    font-size: 30px;
  }

  .title {
    font-size: 20px;
  }

  .lead {
    font-size: 18px;
  }

  .desc {
    font-size: 20px;
    font-weight: 600;
  }

  .list {
    font-size: 20px;
  }

  .btn {
    font-size: 30px;
  }

  .telegram-heading {
    font-size: 30px;
    text-align: center;
  }

  .telegram-subheading {
    text-align: center;
  }

  .calendar {
    width: 100%;
    display: inline-flex;
    align-items: center;
    gap: 1.5rem;
    background: white;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 8px $shadow;
    .calendarIcon {
      color: black;
      font-size: 1.5rem;
    }
    .calendarText {
      font-size: 12px;
      font-weight: 600;
      color: $text-dark;
    }
  }

  .calendar__left_box {
    gap: 10px;
    align-items: center;
  }

  .btn_mobile {
    font-size: 20px;
  }
  .btn {
    font-size: 20px;
  }

  .timerText {
    text-align: center;
  }

  .timeValue {
    font-size: 30px;
  }

  .title__mobile_title {
    font-size: 25px;
  }
  .title__mobile_text {
    font-size: 25px;
  }
}
